.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background: rgb(50, 0, 0);
  line-height: 133%;
  font-style: normal;
}